.DS_Store
*DS_Store
*
!setup.cfg
!*.dat
!*.ico
!*.inf
!*.keep
!*.md
!*.npy
!*.nsi
!*.pb
!*.py
!*.txt
!.cache
!Dockerfile*
!requirements*
!.install/
!.install/windows
!config/
!lib/
!lib/*
!lib/gui
!lib/gui/.cache/preview
!lib/gui/.cache/icons
!scripts
!plugins/
!plugins/*
!plugins/extract/*
!plugins/train/*
!tools
!tools/lib*
*.ini
*.bk
*.pyc
*.DS_Store
*.DS_Store
__pycache__/
